.container {
    width: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #c3d1db;
    /* padding-left: 250px; */
}

.grid-container > div {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.load-more-button {
    color: lightgrey;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    border: 2px solid lightgrey;
	background-color: #fff;
    font-size: 50px;
    border-radius: 20px;
    padding: 0 15px;
}